[Unit]
Description=ipd
Requires=networking.service
Wants=networking.service

[Service]
User=www-data
WorkingDirectory=/opt/go/share
ExecStart=/opt/go/bin/ipd -H X-Real-IP -f GeoLite2-Country.mmdb -c GeoLite2-City.mmdb -r -p
Restart=on-failure

[Install]
WantedBy=multi-user.target

